apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace:  {{ .Values.namespace | default "prod" }}
  labels:
    app: app
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: {{ .Values.image.app }}
          imagePullPolicy: Always
          command:
            - /bin/sh
          args:
            - -c
            - |
              echo "Cleaning up old uvicorn processes..."
              pkill -f uvicorn || true
              sleep 3
              echo "Starting FastAPI app..."
              exec uvicorn main:app --host 0.0.0.0 --port 8000
          ports:
            - containerPort: 8000
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            requests:
              cpu: 99m
              memory: 128Mi
            limits:
              cpu: 99m
              memory: 128Mi
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
