name: prod

on:
  push:
    branches:
      - main

jobs:
  prod:
    runs-on: arc-runner-set
    container:
      image: ghcr.io/homeport/werf-alpine:latest
      options: --user root

    steps:
      - uses: actions/checkout@v4                  # v3 уже устарел
        with:
          fetch-depth: 0

      - name: Install kubectl
        run: apk add --no-cache kubectl

      - name: Werf converge
        env:
          WERF_ENV: prod
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
        run: |
          . "$(werf ci-env github --as-file)"
          werf converge --repo ghcr.io/Hlebushek87/Kursovaya
