name: prod

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy with werf
        env:
          WERF_BUILDER: buildkit
          WERF_PLATFORM: linux/amd64
          WERF_ENV: production
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
        run: |
          echo $WERF_KUBECONFIG_BASE64 | base64 --decode > /tmp/kubeconfig
          export KUBECONFIG=/tmp/kubeconfig
          werf converge --repo ghcr.io/hlebushek87/kursovaya

