# .github/workflows/deploy.yml
name: prod

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: arc-runner-set
    steps:
      - name: Checkout кода
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Installation of werf            # исправлено: installation
        uses: werf/actions/install@v2.5

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Werf converge → Production
        run: |
          echo "=== Подключение к кластеру ==="
          kubectl cluster-info
          kubectl get nodes -o wide

          echo "=== Запуск деплоя ==="
          werf converge \
            --repo ghcr.io/hlebushek87/kursovaya \
            --set "image.tag=${{ github.sha::8 }}"
        env:
          WERF_ENV: production
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
