name: Deploy project to Production

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: arc-runner-set
    steps:
      - name: Checkout кода
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: intallation of werf
        uses: werf/actions/install@v2.5

      - name: Login to GHCR
        if: success()
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: werf converge
        run: |
          echo "Подключаемся к кластеру..."
          kubectl cluster-info
          kubectl get nodes -o wide

          echo "Запускаем деплой проекта Kursovaya..."
          werf converge \
            --repo ghcr.io/hlebushek87/kursovaya \
            --set "image.tag=${{ github.sha::8 }}"
        env:
          WERF_ENV: production
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
