name: Test runner is alive

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  hello:
    runs-on: arc-runner-set
    steps:
      - name: Привет от раннера
        run: |
          echo "Привет! Я работаю на кластере"
          echo "Я работаю на кластере"
          echo "Node: $(hostname)"
          echo "User: $(whoami)"
          echo "UID: $(id -u)"
          echo "CPU: $(nproc)"
          echo "Memory: $(free -h)"
          kubectl version --client
          kubectl get nodes

      - name: Просто ещё одна команда (чтобы убедиться)
        run: |
          sleep 10
          echo "Всё ок, я живой"
