name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  # 1. ЗАДАНИЕ НА СБОРКУ И ПУБЛИКАЦИЮ (Build & Push Job)
  build_and_push:
    name: Build & Push Image
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.build-step.outputs.tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        id: build-step
        run: |
          REPO=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_TAG=ghcr.io/$REPO:${{ github.sha }}

          echo "Building image $IMAGE_TAG..."
          docker build . --tag $IMAGE_TAG
          docker push $IMAGE_TAG
          echo "tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

  # 2. ЗАДАНИЕ НА ДЕПЛОЙ (Deploy Job)
  deploy_prod:
    name: Deploy to Production
    needs: build_and_push
    runs-on: arc-runner-set

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install yq
        run: |
          sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 \
            -o /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq

      - name: Install kubectl
        run: |
          curl -LO https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/kubectl

      - name: Deploy to Kubernetes
        env:
          IMAGE_TAG: ${{ needs.build_and_push.outputs.image_tag }}
          KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
        run: |
          echo "$KUBECONFIG_BASE64" | base64 --decode > /tmp/kubeconfig
          export KUBECONFIG=/tmp/kubeconfig

          echo "Deploying image: $IMAGE_TAG"

          yq e '.spec.template.spec.containers[0].image = "'"$IMAGE_TAG"'"' -i .helm/templates/deployment.yaml
          kubectl apply -f .helm/templates/deployment.yaml
