name: prod
on:
  push:
    branches:
      - main

jobs:
  prod:
    runs-on: arc-runner-set
    container:
      image: ghcr.io/werf/werf:2-stable-ubuntu   # ← вот и всё
      # --user root можно вообще не писать — внутри уже root

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # kubectl обычно уже есть, но если вдруг нет — поставим одной строкой
      - run: |
          command -v kubectl || curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" && chmod +x kubectl && mv kubectl /usr/local/bin/

      - run: |
          . "$(werf ci-env github --as-file)"
          werf converge --repo ghcr.io/hlebushek87/kursovaya
        env:
          WERF_ENV: prod
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
