name: prod
on:
  push:
    branches:
      - main

jobs:
  prod:
    name: prod
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: |
          export BUILDAH_STORAGE_DRIVER=vfs
          . "$(werf ci-env github --as-file)"
          werf converge
        env:
          WERF_ENV: prod
          GITHUB_TOKEN: ${{ secrets.REGISTRY_CLEANUP_TOKEN }}
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
