name: CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  deploy-prod:
    name: Deploy to Production
    runs-on: arc-runner-set
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # разбиение на build publish и public в werf выполнено для отслеживания корретности workflow
      - name: Build and push image
        env:
          WERF_ENV: production
          WERF_BUILDER: buildah
          WERF_CONTAINER_RUNTIME: buildah
        run: |
          werf build --repo ghcr.io/hlebushek87/kursovaya --container-runtime=buildah --build-out-of-tree
          werf publish --repo ghcr.io/hlebushek87/kursovaya --container-runtime=buildah
      
      - name: Deploy to Kubernetes
        env:
          WERF_ENV: production
          WERF_BUILDER: buildah
          WERF_KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
        run: |
          echo $WERF_KUBECONFIG_BASE64 | base64 --decode > /tmp/kubeconfig
          export KUBECONFIG=/tmp/kubeconfig
          werf converge --repo ghcr.io/hlebushek87/kursovaya --skip-build --skip-publish
